<!DOCTYPE html>
<html lang="zh-tw">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FactsComb</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v2.1.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{%url 'index' %}">FactsComb<sup>Beta</sup></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static 'assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">首頁</a></li>
          <li><a href="{% url 'learn' %}">提升識讀力</a></li>                    
          <li><a href="{% url 'about' %}">關於我們</a></li>          
      
          <!--<li class="get-started"><a href="#get-started">Get Started</a></li>-->
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>自動化資訊查核追踨平台</h1>
      <h2>為你快速分析資訊，提供初步判斷方向。</h2>	
<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">請選擇項目</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">標題</a>
      <a class="dropdown-item" href="#">網址</a>
    </div>
  </div>
  <input type="text" class="form-control" placeholder="請輸入查詢內容">
  <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="icofont-search"></i>
      </button>
</div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-12 pt-12 pt-lg-0 content">
            <h3>在混亂的資訊大爆炸時代，讓自己站穩腳步吧。</h3>
            <p class="font-italic">
              現今網路充斥大量可疑資訊，混淆我們的視聽。我們希望透過這個系統的技術，幫助各位面對可疑資訊時作初步判斷。
            </p>
            <p>
              注意：本系統目前仍處測試階段，無法保證所有輸出結果準確無誤，請以專業查核機構發表的最終報告為準。
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="features" class="services  section-bg ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>FactsComb特色</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
              <h4 class="title">整合查核平台</h4>
              <p class="description">省去查詢多個平台的困擾，讓你能一次搜尋多個平台內容，猶如事實查核平台界的飯店搜尋器。</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="las la-fingerprint" style="color: #4680ff;"></i></div>
              <h4 class="title">提供深入資訊</h4>
              <p class="description">提供多項深入資訊（是否為內容農場文章、網站持有人、網站IP位址），讓你即使不會使用WHOIS之類的工具，也能獲得這些資訊。</p>
            </div>
          </div>
		  <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="las la-eye" style="color: #e9bf06;"></i></div>
              <h4 class="title">培養媒體識讀</h4>
              <p class="description">蒐集優質影片及文章，讓你能在這個資訊大爆炸的時代下，不被假資訊牽著鼻子走。</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
	  
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="fade-in">

        <div class="text-center">
          <h3>未來展望</h3>
          <p>在改進自動化系統以及不實資訊識讀能力等方面，我們還有很長的路要走。<br>我們期望在未來能利用機器學習等技術，增強查證能力，並提供更多查證資料、更能協助大家加快事實查核。</p>
        </div>

      </div>
    </section><!-- End Cta Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>FactsComb</h3>
            <p>本項目是國立成功大學第十學院2020年暑期Coding-X課程小組專案的成果。</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>本站鏈結</h4>
            <ul>
              <li><a href="{%url 'index' %}">首頁</a></li>
              <li><a href="{%url 'learn' %}">提升識讀力</a></li>
              <li><a href="{%url 'about' %}">關於我們</a></li>            
            </ul>
          </div>

          <div class="col-lg-3 col-md-8 footer-contact">
            <h4>聯絡我們</h4>
            <p>
              台灣 <br>
              701401台南市東區大學路1號<br>
              國立成功大學 <br>
              <strong>電話：</strong>06-2757575<br>
              <strong>Email:</strong> example@email.ncku.edu.tw<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>National Cheng Kung University</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
<!-- The Modal -->
  <div class="modal fade" id="fact-warn">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><font color="orange">對應到查核報告</font></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          系統對應到以下可能相關的查核報告：
		  <p><a href="https://tfc-taiwan.org.tw/articles/4092" target="_blank">[TFC] 【部分錯誤】網傳訊息宣稱「研究證明：Covid-19 已產生為名爲“D614G”的突變...導致病毒傳染力暴增10倍以上」？</a><br><a href="https://www.mygopen.com/2020/07/d614g-covid-19.html" target="_blank">[MyGoPen] 【誤導】研究證明Covid-19突變為D614G病毒？傳染力暴增10倍？部分錯誤</a></p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
		  <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#cf-warn">查看詳情</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        </div>
        
      </div>
    </div>
  </div>

<!-- The Modal -->
  <div class="modal fade" id="cf-warn">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><font color="red">內容農場警告</font></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <p>警告：內容農場網站也有相關文章，請慎重判斷！</p>
      <p>https://kknews.cc/health/pb9zo62.html<br>新冠重要發現：需警惕！多個研究團隊發現，發生D614G突變的新冠病毒，感染人類細胞的能力或提高9倍左右</p>
    <p></p>
    <p>若上方沒有列出您在尋找的資訊，可以選擇進一步追蹤。</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
      <button type="button" class="btn btn-primary" onclick="location.href='search.html'" data-dismiss="modal">進一步追蹤</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        </div>
        
      </div>
    </div>
  </div>


</body>

</html>